# SearXNG Configuration for B2B Marketing Automation Platform
# Based on official SearXNG settings format

use_default_settings: true

general:
  debug: false
  instance_name: "Marketing Research Search"
  enable_metrics: true

brand:
  new_issue_url: "https://github.com/searxng/searxng/issues/new"
  docs_url: "https://docs.searxng.org/"
  public_instances: "https://searx.space"
  wiki_url: "https://github.com/searxng/searxng/wiki"


search:
  safe_search: 0
  autocomplete: "google"
  autocomplete_min: 4
  default_lang: "en"
  formats:
    - html
    - json

server:
  port: 8080
  bind_address: "0.0.0.0"
  secret_key: "changeme_generate_random_secret_here"
  limiter: true
  public_instance: false
  image_proxy: true

ui:
  static_use_hash: true
  default_locale: "en"
  query_in_title: true
  infinite_scroll: false
  center_alignment: false
  default_theme: simple
  results_on_new_tab: false
  theme_args:
    simple_style: auto

outgoing:
  request_timeout: 10.0
  max_request_timeout: 20.0
  useragent_suffix: ""
  pool_connections: 100
  pool_maxsize: 20
  enable_http2: true

enabled_plugins:
  - 'Hash plugin'
  - 'Search on category select'
  - 'Self Information'
  - 'Tracker URL remover'

categories_as_tabs:
  general: {}
  news: {}
  social media: {}
  images: {}
  videos: {}
  it: {}
  science: {}

# Redis/Valkey configuration
valkey:
  url: redis://redis:6379/2
